# case-insensitive
# regular expressions not allowed

"Orycteropus afer"
"Mus spretus"
"Vicugna pacos"
"Poecilia formosa"
"Colobus angolensis"
"Anolis carolinensis"
"Dasypus novemcinctus"
"Rhinopithecus bieti"
"Saimiri boliviensis"
"Pan paniscus"
"Cavia aperea"
"Melopsittacus undulatus"
"Otolemur garnettii"
"Ciona intestinalis"
"Ciona savignyi"
"Caenorhabditis elegans"
"Cebus capucinus"
"Felis catus"
"Astyanax mexicanus"
"Gallus gallus"
"Pan troglodytes"
"Cricetulus griseus"
"Pelodiscus sinensis"
"Gadus morhua"
"Latimeria chalumnae"
"Propithecus coquereli"
"Bos taurus"
"Macaca fascicularis"
"Fukomys damarensis"
"Octodon degus"
"Canis lupus"
"Tursiops truncatus"
"Mandrillus leucophaeus"
"Anas platyrhynchos"
"Loxodonta africana"
"Mustela putorius"
"Ficedula albicollis"
"Drosophila melanogaster"
"Takifugu rubripes"
"Nomascus leucogenys"
"Mesocricetus auratus"
"Rhinopithecus roxellana"
"Gorilla gorilla"
"Cavia porcellus"
"Papio hamadryas"
"Erinaceus europaeus"
"Equus caballus"
#"Homo sapiens"
"Procavia capensis"
"Dipodomys ordii"
"Petromyzon marinus"
"Jaculus jaculus"
"Echinops telfairi"
"Chinchilla lanigera"
"Aotus nancymaae"
"Macaca mulatta"
"Callithrix jacchus"
"Oryzias latipes"
"Pteropus vampyrus"
"Myotis lucifugus"
#"Mus musculus"
"Microcebus murinus"
"Heterocephalus glaber"
"Peromyscus maniculatus"
"Papio anubis"
"Monodelphis domestica"
"Pongo abelii"
"Chrysemys picta"
"Ailuropoda melanoleuca"
"Sus scrofa"
"Macaca nemestrina"
"Ochotona princeps"
"Xiphophorus maculatus"
"Ornithorhynchus anatinus"
"Microtus ochrogaster"
"Oryctolagus cuniculus"
"Rattus norvegicus"
"Ceratotherium simum"
"Mus caroli"
"Saccharomyces cerevisiae"
"Ovis aries"
"Sorex araneus"
"Mus pahari"
"Choloepus hoffmanni"
"Cercocebus atys"
"Physter macrocephalus"
"Lepisosteus oculatus"
"Ictidomys tridecemlineatus"
"Gasterosteus aculeatus"
"Carlito syrichta"
"Sarcophilus harrisii"
"Tetraodon nigroviridis"
"Oreochromis niloticus"
"Tupaia belangeri"
"Meleagris gallopavo"
"Nannospalax galili"
"Chlorocebus sabaeus"
"Notamacropus eugenii"
"Xenopus tropicalis"
"Taeniopygia guttata"
"Danio rerio"