# case-insensitive
# regular expressions allowed
# (comma-delimited attributes to be searched)[TAB](arbitrary reason of exclusion)[TAB](bad keyword)

"exp_title,study_title,design,sample_title,sample_description,lib_name,experiment,treatment,protocol,age"	"single_cell"	"single cell"

"exp_title,study_title,design,sample_title,sample_description,lib_name,protocol"	"immunoprecipitation"	"RipSeq"
"exp_title,study_title,design,sample_title,sample_description,lib_name,protocol"	"immunoprecipitation"	"chrom_RNAseq"
"exp_title,study_title,design,sample_title,sample_description,lib_name,protocol"	"RNAi"	"RNAi"
"exp_title,study_title,design,sample_title,sample_description,lib_name,protocol"	"small_RNA"	"shRNA RNA-seq"
"exp_title,study_title,design,sample_title,sample_description,lib_name,protocol"	"small_RNA"	"piRNA"
"exp_title,study_title,design,sample_title,sample_description,lib_name,protocol"	"small_RNA"	"smRNA"
"exp_title,study_title,design,sample_title,sample_description,lib_name,protocol"	"CAGE"	"CAGE"
"exp_title,study_title,design,sample_title,sample_description,lib_name,protocol"	"treatment"	"^exposed to"

"treatment,protocol"	"small_RNA"	"miRNA"
"treatment,protocol"	"small_RNA"	"sRNA"
"treatment,protocol"	"treatment"	"uranium"

"age"	"embryonic"	"embryo"
"age"	"embryonic"	"somite"
"age"	"embryonic"	"fertiliz.*"
"age"	"embryonic"	"oocyte"

"genotype"	"transgenic"	"foxn3"
