# case-insensitive
# regular expressions allowed
# (ID)[TAB](column)[TAB](value)
# df.loc[df[one_of_ID_columns]==ID, column] = value

"PRJDB90"	"tissue"	"embryo"
"PRJNA417542"	"tissue"	"vascular smooth muscle cells"
"PRJNA222780"	"tissue"	"embryo"
"PRJDB2921"	"tissue"	"brain"
"PRJNA209394"	"tissue"	"spleen"
"PRJDB1766"	"tissue"	"cerebellum"
"PRJEB12300"	"tissue"	"blood"
"PRJNA189967"	"tissue"	"blood"
"PRJNA168072"	"tissue"	"liver"
"PRJEB24166"	"tissue"	"macrophage"
"PRJEB21709"	"tissue"	"liver"
"PRJNA188394"	"tissue"	"liver"
"PRJEB7406"	"tissue"	"spleen"
"PRJEB22373"	"tissue"	"macrophage"
"PRJNA341964"	"tissue"	"spleen"
"PRJEB12613"	"tissue"	"skeletal muscle"

"SAMN00706768"	"tissue"	"testis"
"SAMN00709563"	"tissue"	"thymus"
"SAMN00727963"	"tissue"	"brain"
"SAMN00739297"	"tissue"	"brain"
"SAMN00739310"	"tissue"	"brain"
"SAMN00739311"	"tissue"	"brain"
"SAMN00739312"	"tissue"	"brain"
"SAMN00739313"	"tissue"	"brain"
"SAMN01766804"	"tissue"	"prefrontal cortex"
"SAMN01766813"	"tissue"	"prefrontal cortex"
"SAMN01768054"	"tissue"	"prefrontal cortex"
"SAMN01768055"	"tissue"	"prefrontal cortex"
"SAMN01768056"	"tissue"	"prefrontal cortex"
"SAMN01768057"	"tissue"	"prefrontal cortex"
"SAMN01768058"	"tissue"	"prefrontal cortex"
"SAMN01768059"	"tissue"	"prefrontal cortex"
"SAMN01768060"	"tissue"	"prefrontal cortex"
"SAMN01768061"	"tissue"	"prefrontal cortex"
"SAMN01768062"	"tissue"	"prefrontal cortex"
"SAMN01768063"	"tissue"	"prefrontal cortex"
"SAMN01768064"	"tissue"	"prefrontal cortex"
"SAMN01768065"	"tissue"	"prefrontal cortex"
"SAMN01768066"	"tissue"	"prefrontal cortex"
"SAMN00715283"	"tissue"	"testis"
"SAMN00715284"	"tissue"	"retina"
"SAMN00778253"	"tissue"	"frontal cortex"
"SAMN00778254"	"tissue"	"frontal cortex"
"SAMN00778255"	"tissue"	"frontal cortex"
"SAMN00778256"	"tissue"	"frontal cortex"
"SAMN00778257"	"tissue"	"frontal cortex"
"SAMN00778258"	"tissue"	"frontal cortex"
"SAMN00216499"	"tissue"	"heart"
"SAMN00216500"	"tissue"	"heart"
"SAMN00216504"	"tissue"	"heart"
"SAMN00216505"	"tissue"	"heart"
"SAMN00216506"	"tissue"	"heart"
"SAMN00216507"	"tissue"	"heart"
"SAMN00216508"	"tissue"	"heart"
"SAMN02401346"	"tissue"	"bone marrow"
"SAMN02427293"	"tissue"	"temporal lobe"
"SAMN02427294"	"tissue"	"pituitary"
"SAMN02427295"	"tissue"	"lung"
"SAMN02427296"	"tissue"	"skeletal muscle"
"SAMN02427297"	"tissue"	"thymus"
"SAMN00749950"	"tissue"	"testis"
"SAMN00761040"	"tissue"	"brain"
"SAMN00761041"	"tissue"	"liver"
"SAMN00761045"	"tissue"	"kidney"
"SAMN00761046"	"tissue"	"kidney"
"SAMN00761050"	"tissue"	"kidney"
"SAMN00761051"	"tissue"	"embryo"
"SAMN00761052"	"tissue"	"embryo"
"SAMN00761053"	"tissue"	"embryo"
"SAMN00761054"	"tissue"	"embryo"
"SAMN00761055"	"tissue"	"embryo"
"SAMN00761056"	"tissue"	"embryo"
"SAMN00761057"	"tissue"	"embryo"
"SAMN01120728"	"tissue"	"testis"
"SAMN01120729"	"tissue"	"placenta"
"SAMN01121009"	"tissue"	"blood"
"SAMN01766975"	"tissue"	"liver"
"SAMN00991521"	"tissue"	"liver"
"SAMN00991522"	"tissue"	"spleen"
"SAMN00991523"	"tissue"	"heart"
"SAMN00991525"	"tissue"	"ascending colon"
"SAMN00991526"	"tissue"	"kidney"
"SAMN00991527"	"tissue"	"lung"
"SAMN00991528"	"tissue"	"cerebellum"
"SAMN00765498"	"tissue"	"heart"
"SAMN00765499"	"tissue"	"ovary"
"SAMN00765500"	"tissue"	"brain"
"SAMN00767849"	"tissue"	"skeletal muscle"
"SAMN00767850"	"tissue"	"liver"
"SAMN00767851"	"tissue"	"lung"
"SAMN00771449"	"tissue"	"embryo"
"SAMN00791550"	"tissue"	"adrenal gland"
"SAMN00014283"	"tissue"	"brain"
"SAMN00013560"	"tissue"	"brain"
"SAMN00013366"	"tissue"	"brain"
"SAMN00016407"	"tissue"	"lung/trachea"
"SAMN00014285"	"tissue"	"pancreas"
"SAMN00013365"	"tissue"	"spleen"
"SAMN00013362"	"tissue"	"brain"
"SAMN00014284"	"tissue"	"lung/trachea"
"SAMN04284181"	"tissue"	"GMP 100 cells"
"SAMN04284167"	"tissue"	"GMP 100 cells"
"SAMN04284116"	"tissue"	"CMP 100 cells"
"SAMN04284065"	"tissue"	"CMP 100 cells"
"SAMN04284002"	"tissue"	"MEP 100 cells"
"SAMN04284129"	"tissue"	"MEP 100 cells"
"SAMN04284133"	"tissue"	"hematopoietic stem 100 cells"
"SAMN04284013"	"tissue"	"hematopoietic stem 100 cells"
"SAMN04284141"	"tissue"	"Purkinje 50 cells"
"SAMN04284062"	"tissue"	"Purkinje 50 cells"
"SAMN04284113"	"tissue"	"cerebral cortex, layer 5 50 cells"
"SAMN04284164"	"tissue"	"cerebral cortex, layer 5 50 cells"
"SAMN04284179"	"tissue"	"CH12.LX immortalized cell line"
"SAMN04283998"	"tissue"	"CH12.LX immortalized cell line"
"SAMN04283997"	"tissue"	"CH12.LX immortalized cell line"
"SAMEA2689605"	"tissue"	"thymus"
"SAMEA2689601"	"tissue"	"ovary"
"SAMEA2689599"	"tissue"	"lung"
"SAMEA2689597"	"tissue"	"kidney"
"SAMEA2689596"	"tissue"	"heart"
"SAMEA2689594"	"tissue"	"blood"
"SAMEA2689604"	"tissue"	"testis"
"SAMEA2689603"	"tissue"	"spleen"
"SAMEA2689602"	"tissue"	"skin"
"SAMEA2689600"	"tissue"	"muscle"
"SAMEA2689598"	"tissue"	"liver"
"SAMEA2689595"	"tissue"	"brain"
"SAMN01853600"	"tissue"	"skin"
"SAMN01853601"	"tissue"	"skin"
"SAMN01853599"	"tissue"	"skin"
"SAMN01853598"	"tissue"	"skin"
"SAMN00998531"	"tissue"	"heart"
"SAMN00998528"	"tissue"	"brain"
"SAMN00998533"	"tissue"	"skeletal muscle"
"SAMN00998535"	"tissue"	"ovary"
"SAMN00998532"	"tissue"	"liver"
"SAMN00998529"	"tissue"	"testis"
"SAMN00998536"	"tissue"	"blood"
"SAMN00998534"	"tissue"	"lung"
"SAMN00998537"	"tissue"	"kidney"
"SAMD00004034"	"tissue"	"kidney"
"SAMD00004035"	"tissue"	"skeletal muscle"
"SAMN02781105"	"tissue"	"liver"
"SAMN02781095"	"tissue"	"testis"
"SAMN02781093"	"tissue"	"kidney"
"SAMN02781090"	"tissue"	"brain"
"SAMN02781081"	"tissue"	"heart"
"SAMN02781078"	"tissue"	"skeletal muscle"
"SAMN02781061"	"tissue"	"skin"
"SAMD00043263"	"tissue"	"liver"
"SAMN01780059"	"tissue"	"testis"
"SAMEA2553415"	"tissue"	"fibroblast"
"SAMN02205043"	"tissue"	"liver"