# case-insensitive
# regular expressions allowed
# (attribute)[TAB](control term)

"treatment"	"mock"
"treatment"	"control"
"treatment"	"cntl"
"treatment"	"con\d"
"treatment"	"con_"
"treatment"	"cont\b"
"treatment"	"cont_"
"treatment"	"kontrol"
"treatment"	"contral"
"treatment"	"contron"
"treatment"	"\bCK"
"treatment"	"none"
"treatment"	"normal"
"treatment"	"natural"
"treatment"	"standard"
"treatment"	"optimal"
"treatment"	"sufficient"
"treatment"	"no(\s+\w+)?\s+treat"
"treatment"	"non-treat"
"treatment"	"non- treat"
"treatment"	"nontreat"
"treatment"	"untreat"
"treatment"	"without"
"treatment"	"^no$"
"treatment"	"Ad Libitum"
"treatment"	"in the absence of"
"treatment"	"Thermoneutral"
"treatment"	"21%[oxygen_concentration]"
"treatment"	"DMSO"
"treatment"	"\b0h"
"treatment"	"\b0 h"
"treatment"	"_0h"
"treatment"	"\b0day"
"treatment"	"\b0 day"
"treatment"	"\b0m"
"treatment"	"\b0 m"
"treatment"	"\b0 dpi"
"treatment"	"^0 ppm"
"treatment"	"wild"
"treatment"	"uninfected"
"treatment"	"un-infected"
"treatment"	"non infected"
"treatment"	"non-inifected"
"treatment"	"no inoculation"
"treatment"	"un-inoculated"
"treatment"	"no disease"
"treatment"	"non-diseased"
"treatment"	"unwound"
"treatment"	"un-grazing"
"treatment"	"healthy"
"treatment"	"stress-free"
"treatment"	"nostress"
"treatment"	"non-stress"
"treatment"	"unstressed"
"treatment"	"non(\s+\w+)?\s+stress"
"treatment"	"room temperature"
"treatment"	"ambient"
"treatment"	"water\w*\b(?!\s*deficit)"
"treatment"	"H2O\w*\b(?!\s*deficit)"

"genotype"	"wild"
"genotype"	"N2"
"genotype"	"OregonR"
"genotype"	"Oregon R"
"genotype"	"Canton S"
"genotype"	"Canton-S"
"genotype"	"y w"
"genotype"	"yw"
"genotype"	"wt"
"genotype"	"\+\/\+"

"sample_title"	"wild"
"sample_title"	"\bWT"
"sample_title"	"control"
"sample_title"	"CON_"
"sample_title"	"CK_"
"sample_title"	"CK-"
"sample_title"	"CK\d"
"sample_title"	"\bCK\b"
"sample_title"	"normal"
"sample_title"	"non-treat"
"sample_title"	"non-inoculated"
"sample_title"	"ungrazed"
"sample_title"	"healthy"
"sample_title"	"water"
"sample_title"	"H2O"
"sample_title"	"\b0dpi"

"sample_description"	"control"
"sample_description"	"mock"
"sample_description"	"no treatment"
"sample_description"	"non-infected"
"sample_description"	"before"
"sample_description"	"wild"

"lib_name"	"control"
"lib_name"	"CK_"
"lib_name"	"CK-"
"lib_name"	"CK\d"
"lib_name"	"\bCK\b"
"lib_name"	"\bcon-"
"lib_name"	"ctrl"
"lib_name"	"mock"
"lib_name"	"wild"
"lib_name"	"\bWT"
"lib_name"	"(?<!\d)0h"

"exp_title"	"control"
"exp_title"	"CON_"
"exp_title"	"CK_"
"exp_title"	"CK-"
"exp_title"	"CK\d"
"exp_title"	"\bCK\b"
"exp_title"	"untreated"
"exp_title"	"mock"
"exp_title"	"without"
"exp_title"	"water"
"exp_title"	"H2O"
"exp_title"	"TimePoint1_"
"exp_title"	"0 days post infection"
"exp_title"	"\b0h"
"exp_title"	"\b0 h"
"exp_title"	"_0h"

"design"	"control"
"design"	"CK_"
"design"	"CK-"
"design"	"CK\d"
"design"	"\bCK\b"
"design"	"\bcon-"
"design"	"mock"
"design"	"normal"
"design"	"common"
"design"	"untreat"
"design"	"non-treat"
"design"	"no(\s+\w+)?\s+treat"
"design"	"no processing"
"design"	"without"
"design"	"water"
"design"	"H2O"
"design"	"before"
"design"	"\b0h"
"design"	"\b0 h"
"design"	"_0h"
"design"	"\b0d"
"design"	"\b0 d"
"design"	"\b0 m"
"design"	"healthy"
"design"	"ungrazed"
"design"	"no grazing"
"design"	"no-grazing"
"design"	"not inoculated"
"design"	"non-inoculated"
"design"	"uninfected"
"design"	"no incubation"
"design"	"not primed"
"design"	"not induced"
"design"	"wt"
"design"	"wild"
