# case-insensitive
# regular expressions allowed
# (aggregated to)[TAB](aggregated from)

"adrenal"	"adrenal gland"

"adipose"	"white adipose"
"adipose"	"adipose   subcutaneous"
"adipose"	"adipose   visceral"
"adipose"	"subcutaneous adipose"
"adipose"	"fat"
"adipose"	"white adipose subcutaneous"

"cardiac adipose"	"adipose tissue"
"cardiac adipose"	"brown adipose tissue"
"cardiac adipose"	"cardiac adipose"
"cardiac adipose"	"subcutaneous adipose tissue"

"bone"	"bones"

"blood"	"whole blood"
"blood"	"blood, peripheral vein"
"blood"	"blood sample"

"brain"	"a brain"
"brain"	"b brain"
"brain"	"normal brain"
"brain"	"whole brain"
"brain"	"brain, whole"
"brain"	"whole brains"
"brain"	"brain cerebrum"
"brain"	"brain left hemisphere"
"brain"	"brain right hemisphere"
"brain"	"male  brain"
"brain"	"female brain"
"brain"	"brain ground control"
"brain"	"larval brain"
"brain"	"brain tissue"
"brain"	"brain gl"
"brain"	"brain without ventral nerve cord"
"brain"	"brain space flight"

"breast"	"breast   mammary tissue"

"cerebellum"	"cerebellum"
"cerebellum"	"brain cerebellum"
"cerebellum"	"brain, cerebellum"
"cerebellum"	"brain   cerebellum"
"cerebellum"	"cerebellar hemisphere"

"cerebral cortex"	"dog cerebral cortex"

"colon"	"ascending colon"
"colon"	"descending colon"
"colon"	"gut colon"
"colon"	"spiral colon"
"colon"	"sigmoid colon"

"embryo"	"embryos"
"embryo"	"single embryo"
"embryo"	"single embryo "
"embryo"	"whole embryo"
"embryo"	"whole embryos"
"embryo"	"whole embryo of  individuals"
"embryo"	"whole-embryo"
"embryo"	"whole embryo homogenate"
"embryo"	"embryo, whole, . days gestation  (n=)"
"embryo"	"day  elongated embryo pool"
"embryo"	"day  hatched embryo pool"
"embryo"	"mixed sex embryos"
"embryo"	"about  h old embryos"
"embryo"	"mrnaseq of whole embryo"
"embryo"	"ivf embryos"
"embryo"	"living one cell embryo"
"embryo"	"post gastrulation embryo"
"embryo"	"two to four cell embryo"
"embryo"	"wild type embryos, tap treated"
"embryo"	"whole embryo, min intervals"
"embryo"	"mixed stage embryos"
"embryo"	"early embryo"
"embryo"	"late gastrula embryo"
"embryo"	"dissociated embryo"
"embryo"	"whole embryo stage ."
"embryo"	"embryos,  hr after egg laying"
"embryo"	"hr embryo"
"embryo"	"whole   hour embryo"
"embryo"	"total embryo"
"embryo"	"mrnaseq of whole embryo"
"embryo"	"whole embryo lysate"
"embryo"	"intact embryo"
"embryo"	"hh whole embryo"
"embryo"	"cell embryo at pronuclear"
"embryo"	"blastocyst stage embryo"
"embryo"	"morula stage embryo"
"embryo"	"eight cell stage embryo"
"embryo"	"four cell stage embryo"
"embryo"	"two cell stage embryo"
"embryo"	"pronuclear stage embryo"
"embryo"	"embryo, whole, . days gestation"
"embryo"	"embryo whole embryo"
"embryo"	"hpf whole embryo"
"embryo"	"drosophila embryo"
"embryo"	"single stage  embryo"

"fibroblast"	"skin fibroblasts from adult naked mole-rat."
"fibroblast"	"skin fibroblasts from adult naked mole rat."
"fibroblast"	"fibroblast, skin"
"fibroblast"	"primary skin fibroblasts"
"fibroblast"	"skin fibroblast"

"frontal cortex"	"brain frontal cortex"
"frontal cortex"	"brain, frontal cortex"
"frontal cortex"	"brain   frontal cortex"

"gill"	"gills"

"heart"	"a heart"
"heart"	"b heart"
"heart"	"male  heart"
"heart"	"female heart"
"heart"	"the total rnas were isolated from the chimpanzee heart with trizol"
"heart"	"heart/coronary"
"heart"	"heart, left ventricle"
"heart"	"heart left ventricle"

"hippocampus"	"brain   hippocampus"
"hippocampus"	"hippocampus ca"

"hypothalamus"	"dog hypothalamus"
"hypothalamus"	"brain   hypothalamus"

"kidney"	"normal kidney"
"kidney"	"a left kidney"
"kidney"	"a right kidney"
"kidney"	"male  kidney"
"kidney"	"female kidney"
"kidney"	"head kidney"
"kidney"	"head kidney tissue"

"liver"	"normal liver"
"liver"	"a liver"
"liver"	"b liver"
"liver"	"male  liver"
"liver"	"female liver"
"liver"	"liver ground control"
"liver"	"adult liver"
"liver"	"liver space flight"
"liver"	"newborn liver"
"liver"	"liver left lateral lobe"

"lung"	"left lung"
"lung"	"lung healthy"
"lung"	"lung control "
"lung"	"lung control"
"lung"	"whole lung"
"lung"	"a lung"
"lung"	"Lung control_*"
"lung"	"male  lung"
"lung"	"female lung"
"lung"	"lung/trachea"
"lung"	"lung day"
"lung"	"lungs"

"lymph node"	"Ferret, lymph nodes, control"
"lymph node"	"normal lymph node"
"lymph node"	"lymph nodes"
"lymph node"	"supramammary lymph node"
"lymph node"	"submandibular lymph node"
"lymph node"	"popliteal lymph node"
"lymph node"	"mesenteric lymph node"
"lymph node"	"bronchial lymph node"
"lymph node"	"abomasal lymph node"
"lymph node"	"ferret, lymph nodes, control"
"lymph node"	"intestinal lymph node"
"lymph node"	"lymph node mesenteric"
"lymph node"	"lymph node prescapular"
"lymph node"	"para rectal lymph node"
"lymph node"	"prescapular lymph node"
"lymph node"	"tracheobronchial lymph node"
"lymph node"	"tracheobronchial lymph node, iav s     dpi siv ecu"
"lymph node"	"mesenteric lymphonodes"
"lymph node"	"axillary lymphonodes"

"mushroom body"	"mshroom body"

"oocyte"	"mature oocyte"
"oocyte"	"stage  oocyte"

"ovary"	"ovaries"
"ovary"	"virgin female ovary"
"ovary"	"adult ovary"
"ovary"	"adult ovaries"
"ovary"	"adult drosophila ovaries"
"ovary"	"ovary ground control"
"ovary"	"left ovary"
"ovary"	"right ovary"
"ovary"	"adult female ovary, no treatment, no gal activation"
"ovary"	"overy"
"ovary"	"ovary germarium to stage"
"ovary"	"ovary stage  + egg chambers"
"ovary"	"ovary stage  to"
"ovary"	"ovarian tissues"
"ovary"	"ovary space flight"
"ovary"	"ovary tissue"

"pancreas"	"female pancreas"
"pancreas"	"female  pancreas"

"placenta"	"placent"
"placenta"	"placenta + membranes"
"placenta"	"term placenta"

"pituitary"	"brain pituitary"
"pituitary"	"pituitary gland"
"pituitary"	"anterior pituitary"

"prefrontal cortex"	"brain, prefrontal cortex"

"retina"	"retina, rpe, choroid"
"retina"	"central retina"
"retina"	"peripheral retina"
"retina"	"whole retina"
"retina"	"adult retina"

"salivary gland"	"salivary glands"
"salivary gland"	"major salivary gland"
"salivary gland"	"right salivary gland"
"salivary gland"	"left salivary gland"

"skeletal muscle"	"muscle"
"skeletal muscle"	"female  skeletal muscle"
"skeletal muscle"	"skeletal_muscle"
"skeletal muscle"	"body muscle"
"skeletal muscle"	"muscle tissues"
"skeletal muscle"	"muscle   skeletal"
"skeletal muscle"	"muscle biceps"
"skeletal muscle"	"muscle long dorsal"
"skeletal muscle"	"biceps brachii"
"skeletal muscle"	"pelvic limb"
"skeletal muscle"	"longissimus muscle"
"skeletal muscle"	"longissimus lumborum muscle"
"skeletal muscle"	"longissimus dorsi"
"skeletal muscle"	"semimembranosus muscle"
"skeletal muscle"	"breast musle"
"skeletal muscle"	"breast muscle"
"skeletal muscle"	"longissimus thoracis"
"skeletal muscle"	"gluteus medius muscle"
"skeletal muscle"	"pectoralis superficialis muscle"
"skeletal muscle"	"pectoralis major muscle"
"skeletal muscle"	"psoas major muscle"
"skeletal muscle"	"longissimus dorsi muscle"
"skeletal muscle"	"biceps femoris muscle"
"skeletal muscle"	"fast muscle"
"skeletal muscle"	"slow muscle"
"skeletal muscle"	"indirect flight muscle"
"skeletal muscle"	"longissimus lumborum"
"skeletal muscle"	"body wall muscle"
"skeletal muscle"	"pectoralis"
"skeletal muscle"	"longuissimus dorsi"
"skeletal muscle"	"skeletal muscle tissue of biceps brachii"
"skeletal muscle"	"longissimus thoracis muscle"
"skeletal muscle"	"longissimus muslce"
"skeletal muscle"	"pectoralis major"
"skeletal muscle"	"soleus muscle"
"skeletal muscle"	"pectoral muscle"
"skeletal muscle"	"gluteus medius"
"skeletal muscle"	"leg musle"
"skeletal muscle"	"leg muscle"
"skeletal muscle"	"longissimus muscles"
"skeletal muscle"	"longissimus dorsi muscle tissues"
"skeletal muscle"	"skeletal muscle tissue"
"skeletal muscle"	"thoracic muscle"
"skeletal muscle"	"thorax skeletal muscle"
"skeletal muscle"	"infraspinatus muscle, pre"
"skeletal muscle"	"longissimus dorsi muscle tissueslongissimus dorsi muscle tissues"
"skeletal muscle"	"muscle abdominal"
"skeletal muscle"	"muscle gastrocnemian"
"skeletal muscle"	"crico arytenoid muscle"
"skeletal muscle"	"ventral lateral sacrocaudal muscle"
"skeletal muscle"	"gluteal muscle"

"skin"	"skin, upper arm"
"skin"	"skin, unspecified"
"skin"	"black skin"
"skin"	"white skin",   "back skin"
"skin"	"dorsal skin"
"skin"	"ventral skin"
"skin"	"skin back"
"skin"	"skin side"
"skin"	"male skin"
"skin"	"female  skin"
"skin"	"skin   sun exposed"
"skin"	"skin   not sun exposed"
"skin"	"tarsometatarsal skin"
"skin"	"thigh skin"
"skin"	"ear skin"
"skin"	"stkin"
"skin"	"wing skin"
"skin"	"earlobe skin"
"skin"	"skin tissue of inner side of the wing"
"skin"	"abdomen skin tissue"
"skin"	"skin of back"

"sperm"	"f sperm"

"spinal cord"	"brain   spinal cord"

"spleen"	"spleen tissue"
"spleen"	"a spleen"
"spleen"	"b spleen"
"spleen"	"d spleen"
"spleen"	"male spleen"
"spleen"	"female  spleen"
"spleen"	"chicken splenic tissue"
"spleen"	"pleen"

"temporal lobe"	"brain, temporal lobe"
"temporal lobe"	"brain temporal lobe"
"temporal lobe"	"temperal lobe"

"tongue"	"tongue."

"testis"	"testes"
"testis"	"super bull testis"
"testis"	"adult testis"
"testis"	"male  testis"
"testis"	"virgin testes"
"testis"	"testis ground control"
"testis"	"dissected testis"
"testis"	"mature testis"
"testis"	"adult testes"
"testis"	"fly testis"
"testis"	"testis space flight"
"testis"	"whole testes"

"whole organism"	"whole worms"
"whole organism"	"whole fly"
"whole organism"	"worm"
"whole organism"	"whole body"
"whole organism"	"whole worm"
"whole organism"	"whole animal"
"whole organism"	"whole flies"
"whole organism"	"whole fish"
