# case-insensitive
# regular expressions allowed
# (comma-delimited attributes to be searched)[TAB](arbitrary reason of exclusion)[TAB](bad keyword)

"exp_title,study_title,design,sample_title,sample_description,lib_name,experiment,treatment,protocol,age"	"single_cell"	"single cell"
"treatment,protocol"	"small_RNA"	"miRNA"
