# case-insensitive
# regular expressions allowed
# (aggregated to)[TAB](aggregated from)

"age"	"arrayexpress-developmentalstage"
"age"	"agedays"
"age"	"age_classification"
"age"	"age_description"
"age"	"age_in_years"
"age"	"agecat"
"age"	"dev_stage"
"age"	"ages"
"age"	"development_satge"
"age"	"development_stage"
"age"	"developmental_stage"
"age"	"developmentalstage"
"age"	"differentiation_stages"
"age"	"embryonic_day"
"age"	"embryonic_stage"
"age"	"female_age"
"age"	"sample_comment"
"age"	"stage"
"age"	"age_at_collection"
"age"	"age_classification"
"age"	"age_description"
"age"	"age_in_years"
"age"	"age_of_collection"
"age"	"age_of_fly_in_days_post_eclosion"
"age"	"agecat"
"age"	"agedays"
"age"	"age{category}"
"age"	"animal_age_at_collection"
"age"	"day"
"age"	"arrayexpress-timepoint"
"age"	"avg_age_after_second_6_months_of_open_access"
"age"	"collection_timing_in_reference_to_e_lineage"
"age"	"day_relative_to_weaning"
"age"	"dev-stage"
"age"	"developmental_time"
"age"	"duration"
"age"	"embryo_stage"
"age"	"female_birth_date"
"age"	"gestational_age"
"age"	"gestational_age_at_sample_collection"
"age"	"hotta_stage"
"age"	"male_age"
"age"	"male_birth_date"
"age"	"male_collection_date"
"age"	"male_death_date"
"age"	"timepoint"
"age"	"trimester"
"age"	"birth_date"
"age"	"collection_date"
"age"	"death_date"
"age"	"female_collection_date"
"age"	"female_death_date"
"age"	"geo_loc_name"
"age"	"sample_date"
"age"	"sampling_date"
"age"	"specimen_collection_date"
"age"	"time_-_blastomeres"
"age"	"animal_length"
"age"	"date"
"age"	"developemental_stage"
"age"	"colection_date"

"antibody"	"chip_antibody"
"antibody"	"chip_or_ip_antibody"
"antibody"	"clip-antibody"
"antibody"	"clip_antibody"
"antibody"	"rip_antibody"
"antibody"	"rna_binding_protein"

"batch"	"adapter_barcode"
"batch"	"animal"
"batch"	"animal_id"
"batch"	"animalid"
"batch"	"barcode"
"batch"	"biological_replicate"
"batch"	"biorep"
"batch"	"brain_code"
"batch"	"clutch"
"batch"	"cohort"
"batch"	"collected_by"
"batch"	"cow"
"batch"	"custom_field"
"batch"	"donator_monkey_number"
"batch"	"donor_id"
"batch"	"horse_number"
"batch"	"iclip_barcode"
"batch"	"id"
"batch"	"illumina_rna-seq_bar_codes"
"batch"	"index"
"batch"	"individual"
"batch"	"individual_id"
"batch"	"individuals"
"batch"	"internal_id"
"batch"	"labanimalnumber"
"batch"	"labexpid"
"batch"	"mahpic_non_human_primate_individual_id"
"batch"	"monkey_id"
"batch"	"non_human_primate_individual_id"
"batch"	"number"
"batch"	"oocyte/embryo_number"
"batch"	"pig_id"
"batch"	"replicate"
"batch"	"rna_processing_batch"
"batch"	"run_id"
"batch"	"sample"
"batch"	"sample-type"
"batch"	"sample_coding"
"batch"	"sample_descriptor"
"batch"	"sample_id"
"batch"	"sample_identifier"
"batch"	"sample_number"
"batch"	"series"
"batch"	"specimen_voucher"
"batch"	"study"
"batch"	"study_group"
"batch"	"study_phase"
"batch"	"subject"
"batch"	"subject_id"
"batch"	"subjectid"
"batch"	"technical_replicate"
"batch"	"tissue_abbreviation"
"batch"	"tissue_code"
"batch"	"umc_id"
"batch"	"unique_id"
"batch"	"uniqueid"
"batch"	"wur_marker_type"
"batch"	"animal_number"
"batch"	"ebi_equivalent_biosample"
"batch"	"ercc"
"batch"	"flow_cell"
"batch"	"flowcell"
"batch"	"lane"
"batch"	"lane_num"
"batch"	"num_replicons"
"batch"	"cell_barcode"
"batch"	"submission_identifier"
"batch"	"library_id"
"batch"	"library_index_sequence_used_to_demultiplex"
"batch"	"replicate_/_experiment"
"batch"	"sequencing_pool"
"batch"	"plate_col_id"
"batch"	"plate_row_id"
"batch"	"replicate_no."
"batch"	"run_no."
"batch"	"sire"
"batch"	"unique_identifier"

"biomaterial_provider"	"biosourceprovider"
"biomaterial_provider"	"female_biomaterial_provider"
"biomaterial_provider"	"male_biomaterial_provider"
"biomaterial_provider"	"library_preparation_location"
"biomaterial_provider"	"material_provider"
"biomaterial_provider"	"availability"

"bioproject"	"bioproject_id"
"bioproject"	"bioprojectid"

"cell"	"cell_type"
"cell"	"cell_line"
"cell"	"cell_class"
"cell"	"cell_description"
"cell"	"cell_subtype"
"cell"	"arrayexpress-celltype"
"cell"	"culture_collection"
"cell"	"culture_conditions"
"cell"	"cell-line"
"cell"	"cell-type"
"cell"	"cell_or_tissue_type"
"cell"	"eosinophil"
"cell"	"feature"
"cell"	"germ_layer"
"cell"	"cells_derived_from"
"cell"	"number_cells"
"cell"	"cell_organism"
"cell"	"cell_culture_protocol"
"cell"	"cell_population"
"cell"	"cell_typing"

"protocol"	"extract_protocol"
"protocol"	"female_sample_collection_protocol"
"protocol"	"protocol"
"protocol"	"sample_extraction_method"
"protocol"	"experimental_protocol"
"protocol"	"chemical_treatment_of_isolated_rna"
"protocol"	"amplification"
"protocol"	"assay"
"protocol"	"experiment_target"
"protocol"	"extraction_protocol"
"protocol"	"fixation"
"protocol"	"fraction"
"protocol"	"library_selection"
"protocol"	"library_source"
"protocol"	"library_strategy"
"protocol"	"library_type"
"protocol"	"libraryprotocol"
"protocol"	"lysis_buffer_ion_concentrations"
"protocol"	"lysis_strategy"
"protocol"	"male_sample_collection_protocol"
"protocol"	"meoh-fixed"
"protocol"	"molecule_subtype"
"protocol"	"prep_type"
"protocol"	"preperation_kit"
"protocol"	"purification_protocol"
"protocol"	"rin"
"protocol"	"rna_fraction"
"protocol"	"rna_rin_values_after_globin_depletion"
"protocol"	"rna_rin_values_before_globin_depletion"
"protocol"	"rna_subtype"
"protocol"	"sample_material"
"protocol"	"sample_storage"
"protocol"	"sample_storage_processing"
"protocol"	"small_rna_classes"
"protocol"	"specimen_collection_protocol"
"protocol"	"specimen_with_known_storage_state"
"protocol"	"tissue_state"
"protocol"	"store_cond"
"protocol"	"datatype_description"
"protocol"	"datatype"
"protocol"	"monosome_enrichment_strategy"
"protocol"	"rna_concentration_after_globin_depletion"
"protocol"	"rna_concentration_before_globin_depletion"
"protocol"	"rna_input"
"protocol"	"sequencing_type"
"protocol"	"date_run"
"protocol"	"instrument_model"
"protocol"	"ngs_platform"
"protocol"	"paired_end_seq?"
"protocol"	"paired_or_single-end"
"protocol"	"pe_read_length"
"protocol"	"platform"
"protocol"	"quality"
"protocol"	"route"
"protocol"	"read_len_orig"
"protocol"	"readtype"
"protocol"	"readtype_description"
"protocol"	"sequencer"
"protocol"	"sequencing_method"
"protocol"	"extraction"
"protocol"	"indrops_version"
"protocol"	"minimum_counts_per_cell_threshold_used_to_remove_background_barcodes"
"protocol"	"minimum_reads_per_cell_during_initial_processing"
"protocol"	"spike-in"

"nominal_length"	"mean_insert_size"

"genotype"	"arrayexpress-genotype"
"genotype"	"arrayexpress-phenotype"
"genotype"	"arrayexpress-rnai"
"genotype"	"background_strain"
"genotype"	"breed"
"genotype"	"cultivar"
"genotype"	"chicken_line"
"genotype"	"ecotype"
"genotype"	"full_genotype"
"genotype"	"genetic_background"
"genotype"	"genetic_line"
"genotype"	"genetic_modification"
"genotype"	"genotype/variaion"
"genotype"	"genotype/variation"
"genotype"	"germline_knock-down"
"genotype"	"germline_knockdown_and_other_transgenes"
"genotype"	"isolate"
"genotype"	"line"
"genotype"	"phenotype"
"genotype"	"ploidy"
"genotype"	"population"
"genotype"	"snp_allelic_state"
"genotype"	"strain"
"genotype"	"strain/background"
"genotype"	"strain_origin"
"genotype"	"strains"
"genotype"	"sub_species"
"genotype"	"subspecies"
"genotype"	"variety"
"genotype"	"breed_name"
"genotype"	"arrayexpress-strainorline"
"genotype"	"breed/line"
"genotype"	"breed_type"
"genotype"	"breeding_history"
"genotype"	"breeds"
"genotype"	"chicken_breed"
"genotype"	"clonality"
"genotype"	"marker"
"genotype"	"dstim_knockdown_status"
"genotype"	"environmental_history"
"genotype"	"fly_line"
"genotype"	"origin"
"genotype"	"phenotype/variation"
"genotype"	"pig_breed"
"genotype"	"pig_type"
"genotype"	"propagation"
"genotype"	"reporter_construct"
"genotype"	"rhesus_monkey_origin"
"genotype"	"rna_interference"
"genotype"	"strain_background"
"genotype"	"strain_description"
"genotype"	"strain_prrsv"
"genotype"	"strainorline"
"genotype"	"transfecting_vector"
"genotype"	"transgenic_strain"
"genotype"	"virus_group"
"genotype"	"arrayexpress-species"
"genotype"	"parental_strain"
"genotype"	"tax_id"
"genotype"	"transgene"
"genotype"	"genotype/phenotype"
"genotype"	"cross"
"genotype"	"dad"
"genotype"	"driver"
"genotype"	"qtl_genotype/haplotype"

"location"	"birth_location"
"location"	"country"
"location"	"feeding_barn"
"location"	"female_birth_location"
"location"	"geographic_location"
"location"	"lat_lon"
"location"	"library_preparation_location_latitude"
"location"	"library_preparation_location_latitude_units"
"location"	"library_preparation_location_longitude"
"location"	"library_preparation_location_longitude_units"
"location"	"local_origin"
"location"	"male_birth_location"
"location"	"sampling_site"
"location"	"seq_center"
"location"	"sequencing_location"
"location"	"sequencing_location_latitude"
"location"	"station"
"location"	"sequencing_location_latitude_units"
"location"	"sequencing_location_longitude"
"location"	"sequencing_location_longitude_units"
"location"	"source"
"location"	"biome"
"location"	"env_biome"
"location"	"env_feature"
"location"	"env_material"
"location"	"environment"
"location"	"environmental_package"

"misc"	"ena-checklist"
"misc"	"ena-first-public"
"misc"	"ena-last-update"
"misc"	"estimated_size"
"misc"	"investigation_type"
"misc"	"lab_description"
"misc"	"library_layout"
"misc"	"mapalgorithm"
"misc"	"mapalgorithm_description"
"misc"	"new_attribute"
"misc"	"notes"
"misc"	"organism"
"misc"	"project"
"misc"	"project_name"
"misc"	"species"
"misc"	"sra_experiment_accession"
"misc"	"biosamplemodel"
"misc"	"sample_year"
"misc"	"number_of_pieces"
"misc"	"specimen_picture_url"
"misc"	"submission_description"
"misc"	"submission_title"
"misc"	"unknown"
"misc"	"body_weight"
"misc"	"file_no."
"misc"	"num_parts_in_pool"
"misc"	"processing_date"

"sex"	"arrayexpress-sex"
"sex"	"gender"
"sex"	"host_sex"
"sex"	"cell_sex"
"sex"	"gender_type"
"sex"	"obsolete_sex"
"sex"	"both_sexes_pooled"

"tissue"	"arrayexpress-organismpart"
"tissue"	"bio_material"
"tissue"	"body_site"
"tissue"	"biopsy_site"
"tissue"	"brain_region"
"tissue"	"description"
"tissue"	"experiment_set"
"tissue"	"explant"
"tissue"	"isolation-source"
"tissue"	"isolation_source"
"tissue"	"label"
"tissue"	"mixedtissues"
"tissue"	"muscle_type"
"tissue"	"organ/tissue"
"tissue"	"organ_part"
"tissue"	"organism_part"
"tissue"	"organismpart"
"tissue"	"oviduct"
"tissue"	"region"
"tissue"	"sample_name"
"tissue"	"sample_origin"
"tissue"	"sampling_position"
"tissue"	"source_name"
"tissue"	"tag"
"tissue"	"tissue-type"
"tissue"	"tissue/cell"
"tissue"	"tissue/cell_type"
"tissue"	"tissue_location"
"tissue"	"tissue_or_dev_stage"
"tissue"	"tissue_origin"
"tissue"	"tissue_source"
"tissue"	"tissue_type"
"tissue"	"title"
"tissue"	"arrayexpress-organismpart"
"tissue"	"organism_part"
"tissue"	"embryo_region"
"tissue"	"organsim_part"
"tissue"	"tissue_/_cells"
"tissue"	"tissue_lib"
"tissue"	"tissue_region"

"treatment"	"agent"
"treatment"	"arrayexpress-diseasestate"
"treatment"	"arrayexpress-growthcondition"
"treatment"	"arrayexpress-immunoprecipitate"
"treatment"	"behavior"
"treatment"	"biopsy_day"
"treatment"	"challenged_with"
"treatment"	"chemical_treatment_of_isolated_rna"
"treatment"	"diet"
"treatment"	"diet_fed"
"treatment"	"dietary_group"
"treatment"	"disease"
"treatment"	"disease_status"
"treatment"	"domestication"
"treatment"	"drip"
"treatment"	"energy_balance"
"treatment"	"fed_status"
"treatment"	"feeding"
"treatment"	"feeding_type"
"treatment"	"fertility_group"
"treatment"	"food"
"treatment"	"group"
"treatment"	"health_state"
"treatment"	"infect"
"treatment"	"infected_with"
"treatment"	"infection"
"treatment"	"infection_status"
"treatment"	"inoculation"
"treatment"	"maternal_diet"
"treatment"	"meat_quality"
"treatment"	"mptp_treatment"
"treatment"	"oxidation"
"treatment"	"pathogen"
"treatment"	"percent_marinade_uptake_at_24h_post-slaughter"
"treatment"	"phenotype_sample_type"
"treatment"	"restriction_model"
"treatment"	"altitude"
"treatment"	"dpi"
"treatment"	"salmonella_shedding_status"
"treatment"	"status"
"treatment"	"stimulation"
"treatment"	"stimulus"
"treatment"	"stress"
"treatment"	"survival"
"treatment"	"transplant_type"
"treatment"	"treated_with"
"treatment"	"treatment_group"
"treatment"	"pregnancy_outcome"
"treatment"	"isol_growth_condt"
"treatment"	"agent"
"treatment"	"aliquot"
"treatment"	"ammonia_concentration"
"treatment"	"ammonia_exposure"
"treatment"	"average_altitude"
"treatment"	"blastocyst_rate"
"treatment"	"breeding_method"
"treatment"	"bull_ntm"
"treatment"	"calcium_intake"
"treatment"	"cell_status"
"treatment"	"cellular_compartment"
"treatment"	"chemical"
"treatment"	"collection_time"
"treatment"	"comment"
"treatment"	"concentration"
"treatment"	"condition"
"treatment"	"culture_condition"
"treatment"	"culture-collection"
"treatment"	"culture_type"
"treatment"	"custom_name"
"treatment"	"day_of_infection"
"treatment"	"day_post_infection"
"treatment"	"days_at_29_c"
"treatment"	"days_post_infection"
"treatment"	"differentiation_time"
"treatment"	"disease_stage"
"treatment"	"drinking_category"
"treatment"	"drug"
"treatment"	"drug_for_synchronization"
"treatment"	"egg_production"
"treatment"	"enzyme_treatment"
"treatment"	"exposure_time"
"treatment"	"extracellular_component"
"treatment"	"fasted_status"
"treatment"	"fed_for"
"treatment"	"feed_efficiency"
"treatment"	"feeding_period"
"treatment"	"feeding_treatment"
"treatment"	"growth_condition"
"treatment"	"growth_protocol"
"treatment"	"harmonized_disease_score"
"treatment"	"harvest_time"
"treatment"	"health-state"
"treatment"	"health_status"
"treatment"	"health_status_at_collection"
"treatment"	"heat_hours"
"treatment"	"hematocrit"
"treatment"	"hemoglobin_measurement"
"treatment"	"host"
"treatment"	"host_tissue_sampled"
"treatment"	"hours_at_restrictive_temperature"
"treatment"	"hp-prrsv_infection"
"treatment"	"infection_route"
"treatment"	"infectious_agent"
"treatment"	"inflammatory_stimulus_treatment"
"treatment"	"injury"
"treatment"	"kinetics"
"treatment"	"lens_type"
"treatment"	"lesion_score"
"treatment"	"lesion_number"
"treatment"	"library_name"
"treatment"	"litter"
"treatment"	"loin_weight_group"
"treatment"	"lps_exposure"
"treatment"	"material"
"treatment"	"maternal_treatment"
"treatment"	"mating_status"
"treatment"	"mock"
"treatment"	"mode"
"treatment"	"morpholino"
"treatment"	"muscle_name"
"treatment"	"neutralization_group"
"treatment"	"normalized?"
"treatment"	"number_born_alive"
"treatment"	"oxygen_concentration"
"treatment"	"parity_number"
"treatment"	"passage"
"treatment"	"passage_number"
"treatment"	"passagers"
"treatment"	"passages"
"treatment"	"phase"
"treatment"	"pooled"
"treatment"	"pregnancy_status"
"treatment"	"pregnancy_time"
"treatment"	"purity"
"treatment"	"resorted"
"treatment"	"rna_treatment"
"treatment"	"sample_processing"
"treatment"	"sampleid"
"treatment"	"sampling_time_point"
"treatment"	"sampling_to_preparation_interval"
"treatment"	"selection_criteria"
"treatment"	"serologic_response_status"
"treatment"	"shear_force"
"treatment"	"skin_color"
"treatment"	"social_rank"
"treatment"	"sorted"
"treatment"	"specific_host"
"treatment"	"stim_time"
"treatment"	"stud_book_number"
"treatment"	"superovulated"
"treatment"	"temperature"
"treatment"	"thermal_treatment"
"treatment"	"time"
"treatment"	"time-point"
"treatment"	"time_point"
"treatment"	"ega-disease"
"treatment"	"time_post_infection"
"treatment"	"timepoint_postchallenge"
"treatment"	"training"
"treatment"	"training_timepoint"
"treatment"	"treatment_description"
"treatment"	"tumor"
"treatment"	"tumor_grading"
"treatment"	"vaccine"
"treatment"	"vaccine_administration"
"treatment"	"vaccine_group"
"treatment"	"viremia_level"
"treatment"	"virus"
"treatment"	"virus_dose"
"treatment"	"d"
"treatment"	"days_post-infection"
"treatment"	"ega-subject"
"treatment"	"ega-treatment"
"treatment"	"ercc_pool"
"treatment"	"host_taxid"
"treatment"	"lymphocyte"
"treatment"	"monocyte"
"treatment"	"morphology"
"treatment"	"neutrophil"
"treatment"	"platelet_count"
"treatment"	"rfi_value"
"treatment"	"sample_type"
"treatment"	"source_of_female"
"treatment"	"sperm_dna_fragmentation_index"
"treatment"	"srek_ligation"
"treatment"	"time/hpf"
"treatment"	"total_number_born"
"treatment"	"treatments"
"treatment"	"type"
"treatment"	"weight"
"treatment"	"arrayexpress-compound"
"treatment"	"arrayexpress-dose"
"treatment"	"assay_type"
"treatment"	"backfat_thickness_of_live(mm)"
"treatment"	"basophil"
"treatment"	"photorecptors_remaining"
"treatment"	"productivity"
"treatment"	"hours/days_after_injury"
"treatment"	"disease_state"
"treatment"	"mehg_exposure"
"treatment"	"operation"
"treatment"	"post-injury_time_point"
"treatment"	"embryo_source"
"treatment"	"earlobe_color"
"treatment"	"reproductive_status"
"treatment"	"specimen_size"
"treatment"	"specimen_volume"
"treatment"	"specimen_weight"
"treatment"	"liver_phenotype"
"treatment"	"clinical_information"
"treatment"	"oestrous_peroid"
"treatment"	"secondary_description"
"treatment"	"finishing_diet"
"treatment"	"gestation_duration"
"treatment"	"growth_rate"
"treatment"	"heart_weight"
"treatment"	"information"
"treatment"	"light_treatment"
"treatment"	"maternal_food"
"treatment"	"number_of_passages"
"treatment"	"paternal_experience"
"treatment"	"personal_experience"
"treatment"	"physiological_conditions"
"treatment"	"rfi_group"
"treatment"	"sample_role"
"treatment"	"slaughter_weight"
"treatment"	"target"
"treatment"	"target_source"
"treatment"	"temperature_regimen"

