# case-insensitive
# regular expressions allowed
# (aggregated to)[TAB](aggregated from)

"flower"	".* sepal .*"
"flower"	".* petal. *"
"flower"	"flower control"
"flower"	"young flower control"

"bud"	".*flower bud.*"
"cardiac flower"	"cardiac flower"
"cardiac flower"	"subcutaneous flower tissue"

"leaf"	".*leaf.*"
"leaf"	"leaves"
"seed"	".*seed .*"
"stamen"	".*stamen.*"

"brain"	"a brain"
"brain"	"b brain"
"brain"	"normal brain"
"brain"	"whole brain"
"brain"	"brain, whole"
"brain"	"whole brains"
"brain"	"brain cerebrum"
"brain"	"brain left hemisphere"
"brain"	"brain right hemisphere"
"brain"	"male  brain"
"brain"	"female brain"
"brain"	"brain ground control"
"brain"	"larval brain"
"brain"	"brain tissue"
"brain"	"brain gl"
"brain"	"brain without ventral nerve cord"
"brain"	"brain space flight"


"whole organism"	".* seedling.*"
"whole organism"	"whole plant"
