# case-insensitive
# regular expressions not allowed

"Helianthus annuus"
"Olea europaea"
"Eucalyptus grandis"
"Vitis vinifera"
"Populus trichocarpa"
"Salix purpurea"
"Arabidopsis thaliana"
"Aquilegia coerulea"
"Ananas comosus"
"Lotus japonicus"
"Prunus persicus"
"Amborella trichopoda"
"Cinnamomum kanehirae"
