# case-insensitive
# regular expressions not allowed

#"Helianthus annuus"
#"Olea europaea"
#"Eucalyptus grandis"
#"Vitis vinifera"
#"Populus trichocarpa"
#"Salix purpurea"
#"Aquilegia coerulea"
#"Ananas comosus"
#"Lotus japonicus"
#"Prunus persicus"
#"Amborella trichopoda"
#"Cinnamomum kanehirae"
#"Arabidopsis thaliana"
#"Zea mays"
#"Citrullus lanatus"
#"Solanum lycopersicum"
#"Nicotiana tabacum"
#"Oryza sativa"
"Amaranthus hypochondriacus"
"Anacardium occidentale"
"Ananas comosus"
"Aquilegia coerulea"
"Arabidopsis halleri"
"Arabidopsis lyrata"
"Arabidopsis thaliana"
"Asparagus officinalis"
"Boechera stricta"
"Botryococcus braunii"
"Brachypodium distachyon"
"Brachypodium hybridum"
"Brachypodium stacei"
"Brachypodium sylvaticum"
"Brassica rapa"
"Capsella grandiflora"
"Capsella rubella"
"Carica papaya"
"Chenopodium quinoa"
"Chlamydomonas reinhardtii"
"Chromochloris zofingiensis"
"Cicer arietinum"
"Citrus clementina"
"Citrus sinensis"
"Coccomyxa subellipsoidea"
"Coffea arabica"
"Cucumis sativus"
"Daucus carota"
"Dunaliella salina"
"Eucalyptus grandis"
"Fragaria vesca"
"Gossypium hirsutum"
"Gossypium raimondii"
"Hordeum vulgare"
"Kalanchoe fedtschenkoi"
"Kalanchoe laxiflora"
"Lactuca sativa"
"Linum usitatissimum"
"Malus domestica"
"Manihot esculenta"
"Marchantia polymorpha"
"Medicago truncatula"
"Mimulus guttatus"
"Miscanthus sinensis"
"Musa acuminata"
"Olea europaea"
"Oropetium thomaeum"
"Ostreococcus lucimarinus"
"Panicum hallii"
"Panicum virgatum"
"Phaseolus vulgaris"
"Physcomitrella patens"
"Populus deltoides"
"Populus trichocarpa"
"Porphyra umbilicalis"
"Prunus persica"
"Ricinus communis"
"Salix purpurea"
"Selaginella moellendorffii"
"Setaria italica"
"Setaria viridis"
"Solanum lycopersicum"
"Sorghum bicolor"
"Sphagnum fallax"
"Spirodela polyrhiza"
"Theobroma cacao"
"Trifolium pratense"
"Triticum aestivum"
"Vigna unguiculata"
"Zostera marina"
