# case-insensitive
# regular expressions allowed
# (attribute)[TAB](control term)

"treatment"	"mock"
"treatment"	"control"
"treatment"	"Control"
"treatment"	"none"
"treatment"	"CNTL"
"treatment"	"CON"
"treatment"	"normal"
"treatment"	"untreated"
"treatment"	"Mock"
"treatment"	"mock"
"treatment"	"Ad Libitum"
"treatment"	"uninfected",
"treatment"	"Uninfected"
"treatment"	"in the absence of"
"treatment"	"kontrol"
"treatment"	"None"
"treatment"	"Thermoneutral"
"treatment"	"21%[oxygen_concentration]"
"treatment"	"DMSO"
"treatment"	"Normal"
"treatment"	" 0hrs",
"treatment"	"^0 ppm"
"treatment"	"un-infected"

"genotype"	"wild"
"genotype"	"Wild"
"genotype"	"N2"
"genotype"	"OregonR"
"genotype"	"Oregon R"
"genotype"	"Canton S"
"genotype"	"Canton-S"
"genotype"	"y w"
"genotype"	"yw"
"genotype"	"wt"
"genotype"	"\+\/\+"
"genotype"	"columbia"
"genotype"	"col0"
"genotype"	"col-0"


"sample_title"	"wild"
"sample_title"	"Wild type"
"sample_title"	"control"
"sample_title"	"Control"
"sample_title"	"CON_"

"sample_description"	"control"

"lib_name"	"control"

"exp_title"	"control"
"exp_title"	"Control_"
"exp_title"	"CON_"
"exp_title"	"TimePoint1_"
"exp_title"	"0 days post infection"
